<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>63</string>
					<key>EndingLineNumber</key>
					<string>73</string>
					<key>StartingColumnNumber</key>
					<string>20</string>
					<key>StartingLineNumber</key>
					<string>73</string>
					<key>Timestamp</key>
					<string>743258943.254609</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Trainingsbarometer/Settings/SettingsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>.alert(isPresented: $showSampleDataAlert) {</string>
				<key>leading</key>
				<string>                        toggleSampleData()
                    }
                    </string>
				<key>trailing</key>
				<string>
                        Alert(
                            title: Text(isSampleData ? "Sample Flights Added" : "Sample Flights Removed"),
</string>
			</dict>
			<key>title</key>
			<string>Deprecated -&gt; Change to new method.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>39</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>38</string>
					<key>Timestamp</key>
					<string>743259275.3873661</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Trainingsbarometer/Onboarding5View.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                toggleSampleData() // --&gt; not available in this context yet.
</string>
				<key>leading</key>
				<string>            Button(action: {
                needsOnboarding = false
</string>
				<key>trailing</key>
				<string>            }, label: {
                VStack {
                    Text("Explore the app")
</string>
			</dict>
			<key>title</key>
			<string>make available in this context, create a helper?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
